.section {
  background-color: lemonchiffon;
}

.paragraph {
  background-color: purple;
}

#paragraph-1 {
  color: darkslateblue;
}

#paragraph-2 {
  color: darkslateblue;
  background-color: darkorange;
}

#paragraph-3 {
  color: white;
  background-color: darkslateblue;
}